.header{
    background-color:rgb(41, 34, 35);
    color: antiquewhite;
    font-weight: 400;
    font-stretch: wider;
    opacity: 85%;
    padding-top: 2%;
    text-align: center;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(242, 236, 229);
    font-size: medium;
}
ul{
    list-style-position: inside;
}
footer{
    background-color: rgb(220, 203, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.tableau{
    padding: 15px;
}
.title{
    text-shadow: 1px 1px 1px #110202;
    padding-left: 15px;

}